.card{
    height: 100px;
    width: auto;
    height: auto;
    padding: 1em;
    background-color: #eee;
    border-radius: 5px;
    border: 2px solid #0088ff;
}

.card h1, .card p{
    color: #0088ff;
}